extends base
block content
  .container.pt-4
    h2 Prepa CRUD
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr
              th(scope='col') ID
              th(scope='col') Producto
              th(scope='col') Precio
              th(scope='col')
              th(scope='col')
          tbody
          - for (var i = 0; i < products.length; i++)
            tr
              th(scope='row') #{products[i].id}
              td #{products[i].Nombre}
              td #{products[i].Precio}
              td
                form(action=`show/${products[i].id}`,method="POST")
                  button.btn.btn-outline-dark(type='submit') Detalle
              td
                form(action=`delete/${products[i].id}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar